{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_preload_css %}
  {% tailwind_css %}
  <title>{% block title %}{% endblock title %}</title>

</head>

<body>
  <div class="min-h-screen flex flex-col">
    <div>
      {% block header %}
      {% include "includes/header.html" %}
      {% endblock header %}
    </div>

    <div class="grow">
      {% block content %}{% endblock content %}
    </div>

    <div>
      {% block footer %}
      {% include "includes/footer.html" %}
      {% endblock footer %}
    </div>
  </div>
</body>

</html>